<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <title>Pisicile Plushy - Istoricul companiei</title>
        <meta name="keywords" content="pisicile plushy, istoric, servicii la domiciliu, la domiciliu, acasă, curățenie, baby sitter, bucătar, catering la evenimente, entertainer pentru copii, îngrijire vârstnici, îngrijire animale de companie, masaj, decorator interior">
        <meta name="description" content="Servicii la Domiciliu: curățenie, baby sitter, bucătar, caterer la evenimente, entertainer la evenimente pentru copii, îngrijire vârstnici, îngrijire animale de companie, masaj, decorator interior">
        <link rel="stylesheet" href="resurse/css/despre.css" type="text/css" />
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>

        <h1>Istoricul Pisicile Plushy</h1>

        <p>
            Pisicile Plushy au aparut ca o necesitate de exprimare a unei creativitati debordante si a unui motan care 
            nu lasa bietii studenti sa studieze pentru facultate, rontzaind de cablul de la tastatura, impingand mouse-ul
            jos de pe birou si asezandu-se, in momentele cele mai nepotrivite, pe tastatura.
        </p>
        <p>
            In realitate, motanul, pe nume Odin, isi dorea si el sa fie student. Aceasta este povestea lui:
        </p>
        <p>
            Într-un mic oraș dintr-un colț îndepărtat al lumii, trăia un motan frumos și curios numit Odin. Odin nu era un motan obișnuit; el avea o pasiune neobișnuită pentru tehnologie și visul său cel mare era să devină un programator de succes.
        </p>
        <p>
            Încă de când era un mic puiț, Odin iubea să se joace cu tastatura și mouse-ul stăpânului său, uitându-se fascinat la ecranul luminos al calculatorului. Într-o zi, Odin a găsit sub patul stăpânului său o carte veche despre programare și a știut că a descoperit pasiunea vieții sale.
        </p>
        <p>
            Odin și-a petrecut nopțile lungi învățând limbaje de programare, săpând prin coduri și experimentând cu algoritmi. Se strecura în fața calculatorului stăpânului său în timpul nopții, iar dimineața îl găsea adesea adormit pe tastatură.
        </p>
        <p>
            Dar lumea programării nu era întotdeauna ușoară pentru Odin. Uneori, codurile sale nu funcționau așa cum își dorea, iar el era tentat să renunțe. Cu toate acestea, Odin era un motan încăpățânat și hotărât, așa că își punea din nou ochii asupra ecranului și încerca din nou.
        </p>
        <p>
            Pe măsură ce treceau zilele și nopțile, Odin devenea tot mai priceput în arta programării. A început să creeze aplicații simple, jocuri și site-uri web. Într-o zi, a avut curajul să-și prezinte lucrările unui grup de dezvoltatori experimentați, care au fost impresionați de talentul său.
        </p>
        <p>
            Astfel, Odin și-a îndeplinit visul de a deveni un programator de succes. A început să lucreze pentru unele dintre cele mai mari companii de tehnologie din lume și a devenit cunoscut pentru creativitatea și abilitățile sale exceptionale. Dar, în ciuda tuturor realizărilor sale, Odin a rămas mereu un motan umil și modest, cu o pasiune neobosită pentru lumea programării.
        </p>

        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>