<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <title>Pisicile Plushy - Servicii la Domiciliu</title>
        <meta name="keywords" content="pisicile plushy, servicii la domiciliu, la domiciliu, acasă, curățenie, baby sitter, bucătar, catering la evenimente, entertainer pentru copii, îngrijire vârstnici, îngrijire animale de companie, masaj, decorator interior">
        <meta name="description" content="Servicii la Domiciliu: curățenie, baby sitter, bucătar, caterer la evenimente, entertainer la evenimente pentru copii, îngrijire vârstnici, îngrijire animale de companie, masaj, decorator interior">
    </head>

    <body>

        <%- include("../fragmente/header.ejs") %>

        <main>

            <%- include("../fragmente/galerie.ejs") %>
            
        </main>              
               
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>