<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Pisicile Plushy - Users</title>
        <meta name="keywords" content="pisicile plushy, autentificare utilizatori">
        <meta name="description" content="Servicii la Domiciliu: curățenie, baby sitter, bucătar, caterer la evenimente, entertainer la evenimente pentru copii, îngrijire vârstnici, îngrijire animale de companie, masaj, decorator interior">

        <%- include("../fragmente/head.ejs");  %> 
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>

        <h2>
            User Login / Register
        </h2>

        <%- include("../fragmente/footer.ejs");  %> 
    </main>

</body>
</html>