/* general */
:root {
    --highlight-color: #F5AF22;
    --background-color: #F5B022;
    --border-color: #F5CA22;
    --text-color: #F5F3DC;
    --active-color: #D9F522;
    --important-color: #81F522;
    --color-red: #ff0000aa;
    --color-dark: black;
    --color-white: white;
    --background: white;
    --text: black;
}

html {
    --inaltime-logo: 100px;
    --latime-logo: 150px;
    --latime-max-titlu: 400px;
    --latime-max-search-bar: 300px;
    --font-size: 16px;
    font-size: var(--font-size);
    transition: all 0.5s linear;
}

.light-theme-colors {
    --background: white;
    --text: black;
    --highlight-color: #F5AF22;
    --background-color: #F5B022;
    --border-color: #F5CA22;
    --text-color: #F5F3DC;
    --active-color: #D9F522;
    --important-color: #81F522;
    --color-dark: black;
}

.dark-theme-colors {
    --background: black;
    --text: white;
    --highlight-color: #6d98f3;
    --background-color: #202020;
    --border-color: #CCCCCC;
    --text-color: #484848;
    --active-color: #22F5A6;
    --important-color: #F522F5;
    --color-dark: white;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text);
}

a:not(li a):not(.up) {
    background: radial-gradient(circle at center, rgba(255, 232, 165, 1) 0%, rgba(255, 232, 165, 1) 40%, rgba(255, 0, 0, 0) 80%, rgba(255, 0, 0, 0) 100%);
    background-position: center;
    background-size: 0;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
}

a:not(li a):not(.up):active {
    border: 1px solid var(--border-color);
}

a:not(li a):not(.up):visited {
    color: var(--highlight-color);
}

a:not(li a):not(.up)[href ^= "http"] {
    font-size: calc(var(--font-size) * 1.5);
}

a:not(li a):not(.up)[href ^= "http"]::before {
    content: "\2BB3";
    color: var(--color-dark);
}

a:not(li a):not(.up)[href ^= "http"]:hover ::before {
    color: var(--color-red);
}

a:not(li a):not(.up):hover {
    background-size: 100%;
}

#top-logo {
    display: flex;
    height: var(--inaltime-logo);
    text-align: center;
}

#logo {
    width:var(--latime-logo);
    height: auto;
    margin-left: auto;
    margin-right: 30px;
}

.themes {
    position: absolute;
    height: 2.5rem;
    width: 5rem;
    top: 3rem;
    right: 3rem;
    outline: none;
}

#dark-theme-label {
    position: absolute;
    right: 0;
}

#light-theme-label {
    position: absolute;
    left: 0;
}

#themeSwitch {
    position: absolute;
    right: -2rem;
}

h1 {
    max-width: var(--latime-max-titlu);
    line-height: 100%;
    margin-right: auto;
}

input {
    height: 1.5em;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: 0;
    outline: none;
    padding: 0;
    border: 1px solid var(--border-color);
    width: 50%;
    max-width: var(--latime-max-search-bar);
}

input::placeholder {
    color: var(--background-color);
    font-weight: bolder;
}

input:hover {
    border: 2px solid var(--border-color);
    box-shadow: 3px 3px 5px var(--color-red);
}