<footer>
    <hr>
    <div>
        <div class="up-container">
            <a class="up" href="#" title="Go up!"></a>
            <span>&#8593;</span>
        </div>
        <h2>
            Contact
        </h2>
        <address>
            <p>
                Link harta: 
                <a href="https://maps.app.goo.gl/js7ysGJmy1Di1oiJA" target="_blank">
                    Strada Pisicile Aristocrate, nr. 25, București, Sector 1, România
                </a>.
            </p>
            <p>
                Mail Pisicile Plushy: <a href="mailto:contact@pisicileplushy.ro">contact@pisicileplushy.ro</a>.
            </p>
            <p>
                Telefon Pisicile Plushy: <a href="tel:+40711222333">+40711222333</a>. 
                Ne puteti gasi si pe <a href="https://wa.me/+40711222333">WhatsApp</a>.
            </p>
        </address>
        <p><small>Copyright &copy; <time datetime="2024-03-01"> 01 martie 2024</time></small></p>
        <div class="watermark">Condruz<br />Filip - Gabriel</div>
    </div>

    <hr>
    
    <div id="banner">
        <span> 
            <strong>
                Acest site este un proiect educational al studentilor de la 
                <a href="https://fmi.unibuc.ro/" target="_blank">Facultatea de Informatica a Universitatii din Bucuresti.</a> 
                Toate datele continute sunt fictive.
            </strong>
        </span>
        <p id="cookie-paragraph">
            <b>Acceptati cookie-uri?</b>
            <button id="accept-cookie">Da</button>
        </p>
    </div>

    <script src="/js/bootstrap.js"></script>
    <script src="/resurse/js/general.js"></script>
    <script src="/resurse/js/produse.js"></script>
</footer>