<header>
    <section id="top-logo">
        <img id="logo" src="./resurse/imagini/logo.png" alt="Pisicile Plushy logo">
        <h1>Servicii la cheie la tine acasa!</h1>
        
        <input type="text" id="search" name="search" placeholder=" &#128269; Cauta:">
    </section>
</header>

<nav>
    <label id="burger" for="burger-menu">&#9776;</label>
    <input id="burger-menu" type="checkbox">

    <ul class="standard-menu">
        <li class="cu-submeniu" id="acasa" title="Acasa">
            <a class="menu-name" href="/index">
                <i id="fa-home" class="fa-solid fa-house"></i>
                <span class="menu-names">Acasa</span>
            </a>
            <ul class="submeniu">
                <li><a href="#promo-client">Viziunea noastra</a></li>
                <li><a href="#servicii">Categorii de servicii</a></li>
                <li><a href="#testimonials">Opinii ale clientilor</a></li>
            </ul>
        </li>

        <li class="cu-submeniu" id="marketplace" title="Marketplace">
            <a class="menu-name" href="/marketplace.html">
                <i>&#127978;</i> 
                <span class="menu-names">Market</span>
            </a>
            <ul class="submeniu">
                <li><a href="/furnizori.html">Furnizor Servicii</a></li>
                <li><a href="/clienti.html">Client Servicii</a></li>
            </ul>
        </li>

        <li title="Despre">
            <a class="menu-name" href="/despre">
                <i>&#129488;</i> 
                <span class="menu-names">Despre</span>
            </a>
        </li>

        <li class="cu-submeniu" id="users" title="Register / Login">
            <a class="menu-name" href="/Users.html">
                <i>&#128100;</i> 
                <span class="menu-names">Users</span>
            </a>
            <ul class="submeniu">
                <li><a href="/Users.html#login">Autentificare utilizator</a></li>
                <li><a href="/Users.html#register">Utilizator nou</a></li>
            </ul>
        </li>

        <li title="Cos de cummparaturi">
            <a class="menu-name" href="/cos.html">
                <i>&#128722;</i> 
                <span class="menu-names">Cos</span>
            </a>
        </li>
    </ul>
</nav>