<header>
    <section id="top-logo">
        <img id="logo" src="/resurse/imagini/logo.png" alt="Pisicile Plushy logo">
        <h1>Servicii la cheie la tine acasa!</h1>
        
        <div class="themes btn btn-warning rounded-pill form-check form-switch" id="themes">
            <label class="form-check-label" for="themeSwitch" id="dark-theme-label"><i class="bi bi-moon" id="dark-theme"></i></label>
            <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch" />
            <label class="form-check-label" for="themeSwitch" id="light-theme-label"><i class="bi bi-sun" id="light-theme"></i></label>            
        </div>
    </section>
</header>

<nav>
    <label id="burger" for="burger-menu">&#9776;</label>
    <input id="burger-menu" type="checkbox">

    <ul class="standard-menu">
        <li class="cu-submeniu" id="acasa" title="Acasa">
            <a class="menu-name" href="/">
                <i id="fa-home" class="fa-solid fa-house"></i>
                <span class="menu-names">Acasa</span>
            </a>
            <ul class="submeniu">
                <li><a href="/#promo-client">Viziunea noastra</a></li>
                <li><a href="/#servicii">Categorii de servicii</a></li>
                <li><a href="/#testimonials">Opinii ale clientilor</a></li>
            </ul>
        </li>

        <li class="cu-submeniu" id="marketplace" title="Marketplace">
            <a class="menu-name" href="/market">
                <i>&#127978;</i> 
                <span class="menu-names">Market</span>
            </a>
            <ul class="submeniu">
                <li title="Categorii"><a href="/market">Categorii servicii</a></li>
                <li title="Filtrare"><a href="/produse">Lista produse</a></li>
            </ul>
        </li>

        <li title="Despre">
            <a class="menu-name" href="/despre">
                <i>&#129488;</i> 
                <span class="menu-names">Despre</span>
            </a>
        </li>

        <li class="cu-submeniu" id="users" title="Register / Login">
            <a class="menu-name" href="/users">
                <i>&#128100;</i> 
                <span class="menu-names">Users</span>
            </a>
        </li>

        <li title="Cos de cummparaturi">
            <a class="menu-name" href="/cos">
                <i>&#128722;</i> 
                <span class="menu-names">Cos</span>
            </a>
        </li>
    </ul>
</nav>